@import "tailwindcss";

@theme {
  --font-figtree: "Figtree", sans-serif;

  --color-text: #1f2937;
  --color-background: #f8fbf4;

  --color-accent-1: #7ed957;
  --color-accent-2: #4f8f2f;

  --color-card: #ffffff;
  --color-border: #d9e7cf;
}
